<style>
	.small-3.columns {
		height: 24px;
		border-right: 1px solid #8e8e8e;
	}
	.row {
		border: 2px solid white;
		padding-left: 5px
	}
	h6 {
		font-size: 0.8em
	}
	h6 {
		color: white;
	}
	body {
		background-color: #888888;
	};
</style>
<div class="fixed" align="center">
	<nav class="top-bar" style="height: 25px">
		<div class="small-3 columns" >
			<h6><%= current_user.name%></h6>
		</div>
		<div class="small-3 columns" >
			<h6><%= current_user.shop_no%></h6>
		</div>
		<div class="small-3 columns">
			<h6><%= current_user.user_id.from(-4)%></h6>
		</div>
		<div class="small-3 columns" style="border-right: 0px">
			<h6><%= current_user.created_at.strftime("%y/%m/%d")%></h6>
		</div>
	</nav>
	<nav class="top-bar" style="background-color: #642d72; height: 40px">
		<a href="save" class="small-4 columns" > <h5><img src="/assets/navicon.png" width="50" height="55" align="left"></h5> </a>
	</nav>
</div>
<br />
<br />
<br />
<div class="row" >
	<p>
		<%= link_to "All",
		{:controller => "welcome", :action => "product"},
		{:style => "color: white"}%>
	</p>
</div>
<%if @locations%>
<% @locations.each do |item| %>
<div class="row" >
	<p>
		<%= link_to item.location_name,
		{:controller => "welcome", :action => "product", :link_to => item.location_name},
		{:style => "color: white" }%>
	</p>
</div>
<%end%>
<%else if @genres%>
<% @genres.each do |item| %>
<div class="row" >
	<p>
		<%= link_to item.genre_name,
		{:controller => "welcome", :action => "product", :link_to => item.genre_name},
		{:style => "color: white" } %>
	</p>
</div>
<%end%>
<%else%>
<% @publishers.each do |item| %>
<div class="row" >
	<p>
		<%= link_to item.publisher_name,
		{:controller => "welcome", :action => "product", :link_to => item.publisher_name},
		{:style => "color: white" } %>
	</p>
</div>
<%end%>
<%end%>
<%end%>
